

{% assign collection = collections['all'] %}

{{ collection }}

{{ collection.title }}
<ul>
  {% for val in collection.products %}
    <li> <a href = "{{ val.url }}">
      {{ val.price |money }}</a>
    </li>
  {% endfor %}
</ul>

